.wd-maincontent {
  border: 2px solid rgb(52, 52, 52);
}
.form-control {
  background-color: rgb(52, 52, 52);
  color: lightgray;
  border: none;
}
.container-fluid.override-bs {
  background-color: black;
}
.card-text.override-bs {
  font-size: small;
}
.cardImage.override-bs {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  margin: 1px;
}
.btn-primary.override-bs {
  /*background-color: #a90dfd;*/
  background-color: deepskyblue;
  height: 35px;
  width: 100%;

  border-radius: 50px;
  /*border-style: dashed;*/
  font-size: 0.75em;
  font-weight: bolder;
}
.btn-light.follow {
  /*background-color: #a90dfd;*/
  /*border-color: #fd0d51;*/

  height: 35px;
  width: 100%;
  border-radius: 50px;
  /*border-style: dashed;*/
  font-size: 0.8em;
  font-weight: bolder;
}
.input-group-text.override-bs {
  color: darkgray;
  border-radius: 30px;
  background-color: rgb(52, 52, 52);
  border: none;
}

.list-group-item.override-bs {
  color: white;
  background-color: transparent;
}

.list-group-item.imagePost {
  padding: 0;
  border: none;
  border-top: 2px solid rgb(52, 52, 52);
  border-bottom: 2px solid rgb(52, 52, 52);
}
.list-group-item.active {
  font-weight: bolder;
  background-color: transparent;
  border-color: transparent;
}

.list-group-item.follow-list {
  border: none;

  color: white;
  background-color: transparent;
  font-weight: 800;
}
.form-control.override-bs {
  border-left: 0;
  border-radius: 30px;
}

.cardImage {
  /*margin: auto auto;*/
  height: 34px;
  width: 33px;
}

.card.override-bs {
  border: none;
}

.card-body {
  padding: 0px !important;
  font-size: 12px !important;
}
.fa.fa-cog.override-bs {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size: large;
}

.nav-tabs .nav-link.override-bs {
  background: transparent;

  color: grey;
}

.list-group.override-bs {
  background-color: rgb(52, 52, 52);
}

.iconName {
  width: 14%;
}

/* .list-group.list-group-left {
  margin-left: 25%;
}

.list-group.list-group-right {
  margin-right: 25%;
} */

.showButton {
  color: dodgerblue;
  font-weight: 650;
}

.footerText {
  padding: 0.5rem 1rem;
}
.nav-link.active.override-bs {
  color: grey;
  background-color: transparent;
  border: none;
  border-bottom: 6px solid dodgerblue;
  font-weight: bolder;
  /*text-decoration: underline dodgerblue 5px;*/
}
