.wd-main-content {
    margin-left: 16px;
    margin-top: 12px;
}

html {
    background-color: black;
}

.wd-bookmark-title {
font-size: 20px;
color: white;
}
.wd-bookmark-handle {
    font-size: 13px;
    color: lightgray;
    padding-bottom: 12px;
    border-bottom: 1px solid lightgray;
}

.wd-bookmark-header {
    margin-top: 12px;
}

.wd-bookmark-profImg {
    border-radius: 50px;
    width: 48px;
    height: 48px;
}

.wd-grid-row {
    clear: both;
}

.wd-grid-col-left-sidebar {
    /* width: 10%; */
    float: left;
}

.wd-grid-col-right-sidebar {
    /* width: 20%; */
    margin-left: 12px;
    float: left;
}

.wd-img-name {
    font-size: 15px;
    color: white;
}

.wd-img-handle {
    font-size: 15px;
    color: lightgray;
}

.wd-img-content {
    font-size: 15px;
    color: white;  
    width: 506px;
    margin-bottom: 16px;
}

.wd-bookmark-contentImgBack {
    border-radius: 10px;
    width: 504px;
    
    border: 1px solid lightgray;
}

.wd-bookmark-contentImg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 504px;
    height: 264px;
    
}

.wd-bookmark-contentImg-Title {
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding-top: 12px;
    padding-left:  12px;
    padding-right: 12px;
}

.wd-bookmark-contentImg-Content {
    color: lightgray;
    font-size: 15px;
    padding: 12px;
}


.wd-navigation-list {
    list-style: none;
	width: 504px;
}

.wd-navigation-list li {
    display:block;
	width:110px;
	float:left;
	margin-left:2px;
    
}

.wd-navigation-list a {
	display:block;
	padding:16px;
    font-size: 15px;
	text-decoration:none;
	color:rgb(110, 118, 125);
}

.fa.fa-heart {
    color: red;
}
.wd-icon-space {
    margin-left: 12px;
}