body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


:root {
  --white: #FFFFFF;
  --black: #000000;
  --lightestGrey: #F6F6F6;
  --lightGrey: rgb(110, 118, 125);
  --darkGrey: rgb(47, 51, 54);
  --lightBlue: rgb(29,161,242);
  --twitterBlue: dodgerblue;
}

/* FLEX STYLING */

.wd-flex {display: flex}
.wd-flex-inline {display: flex; display: inline-flex;}

.wd-flex-row {display: flex !important; flex-direction: row !important;}                              /* ltr - default */
.wd-flex-column {display: flex; flex-direction: column;}                        /* top-bottom */
.wd-flex-rowReverse {display: flex; flex-direction: row-reverse;}               /* rtl */
.wd-flex-columnReverse {display: flex; flex-direction: column-reverse;}         /* bottom-top */

.wd-flex-wrap {display: flex; flex-wrap: wrap;}                                 /* one-line */
.wd-flex-noWrap {display: flex; flex-wrap: nowrap;}                             /* multi-line */

.wd-flex-alignStart {display: flex; align-items: flex-start;}                   /* vertical-align to top */
.wd-flex-alignEnd {display: flex; align-items: flex-end;}                       /* vertical-align to bottom */
.wd-flex-alignCenter {display: flex; align-items: center;}                      /* vertical-align to center */
.wd-flex-alignStretch {display: flex; align-items: stretch;}                    /* same height on all (default) */

.wd-flex-justifyStart {display: flex; justify-content: flex-start;}             /* [xxx        ] */
.wd-flex-justifyCenter {display: flex; justify-content: center;}                /* [    xxx    ] */
.wd-flex-justifyEnd {display: flex; justify-content: flex-end;}                 /* [        xxx] */
.wd-flex-justifySpaceBetween {display: flex; justify-content: space-between;}   /* [        xxx] */
.wd-flex-justifySpaceAround {display: flex; justify-content: space-around;}     /* [ x   x   x ] */
.wd-flex-justifySpaceEvenly {display: flex; justify-content: space-evenly;}     /* [  x  x  x  ] */

/* FONT SIZES */
.wd-font10 {font-size: 10px}
.wd-font12 {font-size: 12px !important}
.wd-font13 {font-size: 13px !important}
.wd-font14 {font-size: 14px !important}
.wd-font15 {font-size: 15px !important}
.wd-font16 {font-size: 16px !important}
.wd-font18 {font-size: 18px !important}
.wd-font20 {font-size: 20px !important}
.wd-font30 {font-size: 30px !important}


/* FONT STYLING */
.wd-fontBold {font-weight: bold}
.wd-fontItalic {font-style: italic}
.wd-fontFamily {font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif}
.wd-textCenter {text-align: center}
.wd-textLeft {text-align: left}
.wd-textRight {text-align: right}

/* FONT COLORS */
.wd-whiteFont {color:var(--white)!important;}
.wd-blackFont {color:var(--black) !important;}
.wd-lightGreyFont {color:var(--lightGrey);}
.wd-darkGreyFont {color:var(--darkGrey);}
.wd-lightBlueFont {color:var(--lightBlue) !important;}
.wd-twitterBlueFont {color:var(--twitterBlue);}

/* FLOATS */
.wd-floatLeft {float: left;}
.wd-floatRight {float: right;}


/* MARGINS */

.wd-noMargin {margin: 0px;}
.wd-noMarginTop {margin-top: 0px;}
.wd-noMarginRight {margin-right: 0px;}
.wd-noMarginBottom {margin-bottom: 0px;}
.wd-noMarginLeft {margin-left: 0px;}

.wd-margin5 {margin: 5px;}
.wd-marginTop5 {margin-top: 5px;}
.wd-marginRight5 {margin-right: 5px;}
.wd-marginBottom5 {margin-bottom: 5px;}
.wd-marginLeft5 {margin-left: 5px;}

.wd-margin10 {margin: 10px;}
.wd-marginTop10 {margin-top: 10px;}
.wd-marginRight10 {margin-right: 10px;}
.wd-marginBottom10 {margin-bottom: 10px;}
.wd-marginLeft10 {margin-left: 10px;}

.wd-margin16 {margin: 16px;}
.wd-marginTop16 {margin-top: 16px;}
.wd-marginRight16 {margin-right: 16px;}
.wd-marginBottom16 {margin-bottom: 16px;}
.wd-marginLeft16 {margin-left: 16px;}

.wd-margin20 {margin: 20px;}
.wd-marginTop20 {margin-top: 20px;}
.wd-marginRight20 {margin-right: 20px;}
.wd-marginBottom20 {margin-bottom: 20px;}
.wd-marginLeft20 {margin-left: 20px;}

.wd-margin60 {margin: 60px;}
.wd-marginTop60 {margin-top: 60px;}
.wd-marginRight60 {margin-right: 60px;}
.wd-marginBottom60 {margin-bottom: 60px;}
.wd-marginLeft60 {margin-left: 60px;}

/* PADDINGS */

/*.wd-noPadding {padding: 0px;}*/
/*.wd-noPaddingTop {padding-top: 0px;}*/
/*.wd-noPaddingRight {padding-right: 0px;}*/
/*.wd-noPaddingBottom {padding-bottom: 0px;}*/
/*.wd-noPaddingLeft {padding-left: 0px;}*/

/*.wd-padding10 {padding: 10px;}*/
/*.wd-paddingTop10 {padding-top: 10px;}*/
/*.wd-paddingRight10 {padding-right: 10px;}*/
/*.wd-paddingBottom10 {padding-bottom: 10px;}*/
/*.wd-paddingLeft10 {padding-left: 10px;}*/

/*.wd-padding16 {padding: 16px;}*/
/*.wd-paddingTop16 {padding-top: 16px;}*/
/*.wd-paddingRight16 {padding-right: 16px;}*/
/*.wd-paddingBottom16 {padding-bottom: 16px;}*/
/*.wd-paddingLeft16 {padding-left: 16px;}*/

/*.wd-padding60 {padding: 60px;}*/
/*.wd-paddingTop60 {padding-top: 60px;}*/
/*.wd-paddingRight60 {padding-right: 60px;}*/
/*.wd-paddingBottom60 {padding-bottom: 60px;}*/
/*.wd-paddingLeft60 {padding-left: 60px;}*/

/* BORDERS */
.wd-borderRadius4px {border-radius: 4px}
.wd-borderRadius10px {border-radius: 10px}
.wd-borderRadius12px {border-radius: 12px}
.wd-borderRadius20px {border-radius: 20px}
.wd-borderRadius50 {border-radius: 50px !important;}
.wd-borderRadiusCircle {border-radius: 50% !important;}

/* WIDTH */
.wd-width20 { width: 20px !important;}
.wd-width100 { width: 100% !important;}


/* CUSTOM STYLING */
.testBorder{ border: 1px solid red;}


input[type="radio"].wd-navBtn:checked+label {
  background-color: rgb(42,159, 214);
  color: black;
  border-color: black;
  border-width: 1px;
  font-weight: bold;
  border-radius: 0px;
}

.wd-searchBoxDiv{
  border: 1px solid var(--darkGrey);
  width: 93%;
}
input.wd-searchBox:focus{ outline: none;}

.wd-borderDiv{ border: 1px solid var(--darkGrey);}

.wd-followList{ width: 30%;}

.wd-noLinkDecor{ text-decoration: none; color: var(--lightGrey)}
.wd-noLinkDecor:hover{ text-decoration: underline; color: var(--lightGrey)}

.wd-noLinkLineDecor{ text-decoration: none; }
.wd-noLinkLineDecor:hover{ text-decoration: none; font-weight: bold; color: white}

.wd-whiteBG{background-color: white !important}
.wd-transparentBG {background-color: transparent !important}
.wd-lightGreyBG {background-color: #F6F6F6 !important}
.wd-darkGreyBG {background-color: var(--darkGrey) !important}
.wd-blackBG {background-color: var(--black) !important}
.wd-noBorders {border: 0px !important}

.nav-item.nav-link{
  border: 0px !important;
  color:white;
}
.nav-item.nav-link:hover{
  border: 0px !important;
  /* background-color: var(--darkGrey) !important; */
  color: white;
  font-weight: bold;
}

.nav-item.nav-link.active{
  /* border-top: 0px solid;
  border-left: 0px solid;
  border-right: 0px solid; */
  /* border-bottom: 5px solid dodgerblue !important; */
  /* background-color: transparent !important; */
  /* font-weight: bold; */
  color: white !important;
  /* background-color: dodgerblue; */
}

.wd-whiteButton{
  background-color: white !important;
  color: black !important;
  font-weight: bold !important;
}

.wd-blueButton{
  /* background-color: dodgerblue !important; */
  color: white !important;
}

.list-group-item-action:hover {
  border-color: transparent !important;
}